<h1 class="country"> {{name}}</h1>
    <ul>
        <li class="capital">Capital:{{capital}}</li>
        <li class="population">Population: {{population}}</li>
        <ul class="languages">Languages:
        {{#each languages}}
            <li class="tag-list__item">{{name}}</li>
            {{/each}}   
        </ul>
    </ul>
    <img src="{{flag}}" alt="" class="flag" />
</div>